@font-face {
    font-family: "Kiwi Maru Medium";
    src: url('../fonts/KiwiMaru-Medium.ttf');
}
@font-face {
    font-family: "AnonymousPro Regular";
    src: url('../fonts/AnonymousPro-Regular.ttf');
}
@font-face {
    font-family: "AnonymousPro Bold";
    src: url('../fonts/AnonymousPro-Bold.ttf');
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    margin: 0;
}
.wrapper {
    overflow: hidden;
}
.nav {
    margin: 0 auto;
    max-width: 95rem;
    background-color: rgb(255, 255, 255);
    position: sticky;
    top: 0;
    z-index: 100;
}
.container {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}
.logo img {
    height: 80%;
    width: 70%;
}
.nav-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}
.nav-item a {
    color: black;
    text-decoration: none;
    font-size: 16px;
    font-family: "Kiwi Maru Medium";
    letter-spacing: -0.1rem;
}
.nav-item button {
    border: none;
    background-color: #FFF;
}
.nav-item button img {
    width: 85%;
    height: 85%;
}
.main {
    width: 100%;
}

.catalog-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: 3%;
    margin-top: 3%;
}

/*каталог*/
.catalog {
    height: 26rem;
}
.catalog-main {
    width: 80%;
    margin: 0 auto;
}
.catalog-text {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 3%;
}
.catalog-header-text {
    align-items: center;
}
.catalog-header-text span {
    font-size: 24px;
    font-family: "AnonymousPro Bold";
    color: #BB4444;
}
.catalog-header-text p {
    font-family: 'AnonymousPro Regular';
    font-size: 20px;
    margin-top: 2%;
    line-height: 130%;
}
.catalog-cards {
    display: flex;
    flex-wrap: wrap;
    column-gap: 1.6%;
    margin-top: 3%;
}
.catalog-img-card {
    background-clip:unset;
    position: relative;
    border: 2px solid rgba(221, 221, 221, 0.26);
    border-radius: 5%;
}

.catalog-cards article img:first-child {
    width: 100%
}
.catalog-text-card {
    font-family: 'AnonymousPro Regular';
    margin-top: 5%;
}
.catalog-text-card p {
    font-size: 18px;
}
.catalog-text-card-price p {
    font-size: 20px;
}
.catalog-cards article {
    width: 22rem;
}
.product-price {
    display: flex;
    justify-content: space-between;
    align-items: end;
    height: 3rem;
}
.product-price .items{
    display: flex;
    gap: 2rem;
    align-items: end;
}
.product-price button {
    width: 3rem;
    border: none;
    background-color: #FFF;
}
.product-price img {
    width: 10%;
    height: 10%;
}
.product-price span{
    display: inline-block;
    vertical-align: top;
    word-spacing: 10rem;
    font-size: 22px;
}
.product-price p {
    display: inline-block;
    vertical-align: top;
    word-spacing: 10rem;
    color: rgba(168, 168, 168, 1);
}

/*ЦВЕТА CIRCLE {*/
/*    background-color: rgba(173, 108, 164, 1);*/
/*    background-color: rgba(86, 194, 227, 1);*/
/*    background-color: rgba(252, 179, 203, 1);*/
/*    background-color: rgba(5, 5, 3, 1);*/
/*    background-color: #8D1316;*/
/*    background: repeating-linear-gradient(45deg,#000 16px, #FFF);*/
/*    background-color: #C6C2C9;*/
/*    background: repeating-linear-gradient(45deg, rgba(5, 5, 3, 1), rgba(173, 108, 164, 1) 10px, rgba(252, 179, 203, 1) 15px, #C6C2C9);*/
/*}    */

.circle {
    /*background-color: rgba(173, 108, 164, 1);*/
    border: 1px solid rgba(215, 215, 215, 1);
    border-radius: 100%;
    width: 18px;
    height: 18px;
    display: inline-block;
    vertical-align:middle;
}

.catalog-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4%;
}
.catalog-button button{
    font-family: 'AnonymousPro Regular';
    background-color: rgba(187, 68, 68, 1);
    border: none;
    border-radius: 15px;
    color: #FFF;
    text-decoration: none;
    font-size: 1.2rem;
    width: 11rem;
    height: 2.5rem;
    cursor: pointer;
}
.catalog-button button:hover {
    background-color: rgba(198, 52, 52, 1);
    transform: translateY(-3px);
    box-shadow: 0 2px 0 rgb(133, 45, 40);
}
/*футтер*/
.footer {
    margin: 0 auto;
    width: 100%;
    background-color: #fff;
    height: 12rem;
    border-top: 1px solid rgba(198, 195, 195, 0.7);
}
.footer-container {
    max-width: 96rem;
    margin: 0 auto;
}
.footer-logo {
    margin-top: 0.6%;
    font-family: "AnonymousPro Regular";
}
.footer-info {
    display: flex;
    justify-content: space-between;
    margin-top: 1%;
}
.footer h3 {
    line-height: 3rem;
    font-family: "AnonymousPro Bold";
}
.footer a {
    font-family: "AnonymousPro Regular";
    line-height: 1.5rem;
    color: #000;
    text-decoration: none;
}
.footer-nav {
    display: flex;
    flex-direction: column;
}
.footer-project {
    display: flex;
    flex-direction: column;
}
.footer-map {
    display: flex;
    flex-direction: column;
}
.footer-icon {
    display: flex;
    flex-direction: row;
    margin-top: 3%;
    gap: 10%;
}
.footer-icon img{
    width: 90%;
    height: 80%;
}
@media(max-width: 480px) {
    .nav-item button img{
        width: 70%;
    }
    .logo img{
        width: 60%;
    }
    .container{
        max-width: 50rem;
    }
    .nav-item a{
        font-size: 10px;
    }
    .nav-item{
        gap: 0;
    }
    .catalog-header-text p{
        font-size: 16px;
    }
    .catalog-cards{
        width: 100%;
        gap: 2rem;
    }
    .catalog-header-text span {
        font-size: 18px;
    }
    .catalog-text-card-price p{
        font-size: 16px;
    }
    .catalog{
        height: 120rem;
    }
    .catalog2{
        height: 120rem;
    }
    .product-price{
        height: 2rem;
    }
    .product-price span{
        font-size: 18px;
    }
    .product-price button{
        width: 4rem;
    }
    .footer-container{
        max-width: 28rem;
    }
    .footer-info{
        font-size: 10px;
        gap: 2rem;
    }
    .footer-logo img{
        width: 80%;
    }
    .footer a{
        line-height: 1rem;
    }
    .footer-nav h3{
        line-height: 2rem;
    }
    .footer h3{
        line-height: 2rem;
    }
}